
DATABASE_URL="postgresql://ibero:ibero@localhost:5433/ibero_data?schema=public"
JWT_SECRET=
PORT=3000
API_BASE_URL=http://localhost:3000
VIZCANVAS_URL=http://localhost:4201
INTERMEDIARIO_URL=http://localhost:8000
